<div class="page-inner-wrapper page-section animated fadeIn">
  <div class="content-wrapper">
    <div class="content-inner-wrapper">
      <div class="content-title-wrap">
        <div class="text-center"> <h2 class="text-primary">Forgot your password?</h2>
          <h4>Please enter your email to reset your password.</h4>
        </div>
      </div>


      <div class="content-body-wrap">
        <form novalidate [formGroup]="entityForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group"
              [ngClass]="{
              'has-dirty': email.dirty, 
              'has-danger': email.invalid && email.dirty, 
              'has-success': email.valid && email.dirty }">

              <input name="email"
                formControlName="email"
                class="form-control tall"
                id="passwordResetFormEmail"
                placeholder="Email"
                type="text">

              <div class="form-control-feedback has-danger" 
                *ngIf="email.invalid && email.dirty"> 
                Email is required.
              </div>
            </div>
          </div>

          <div class="form-row submit-row">
            <div class="form-group">
              <div class="button-wrapper">
                <button class="btn btn-primary btn-lg btn-lg-curved">
                  Send me reset instructions
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>


      <div class="additional-links-wrapper">
        <div class="user-account-registration">
          <div>
            <span class="text-primary">
              Don't have an account?
            </span>
            <span class="text-secondary">
              <a ceoClickStopEventBubble routerLink='/signup'>
                Sign up today!
              </a>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
