@import "helpers";

.list-group-item {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.menu-item-wrapper {
    > .menu-link span {
      text-transform: uppercase;
    }
  }

  a {
    color: $gray-100 !important;
    text-decoration: uppercase;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }

  &:hover, &.active {
    > a {
      color: $white !important;
    }
  }
}


