<div id="footer">
  <div class="page-section white footer-top" id="footer-logo">
    <div class="inner-content">
      <div class="sections-wrapper">
        <div class="section-wrapper">
          <sunray-ui-site-layout-footer-social>
          </sunray-ui-site-layout-footer-social>
        </div>


        <div class="section-wrapper">
          <sunray-ui-site-layout-footer-menu
            [menu$]="layoutService.footerNavigationMenu$">
          </sunray-ui-site-layout-footer-menu>
        </div>


        <div class="section-wrapper">
          <sunray-ui-site-layout-footer-contact-info>
          </sunray-ui-site-layout-footer-contact-info>
        </div>
      </div>
    </div>
  </div>


  <div id="footer-terms" class="footer-bottom bg-body-dark-2 page-section">
    <div class="inner-content">
      <div class="sections-wrapper">
        <div class="section-wrapper">
          <sunray-ui-site-layout-footer-legal-links>
          </sunray-ui-site-layout-footer-legal-links>
        </div>


        <div class="section-wrapper">
          <sunray-ui-site-layout-footer-copyright>
          </sunray-ui-site-layout-footer-copyright>
        </div>
      </div>
    </div>
  </div>
</div>
