@import "helpers";

.webinar-box img {
  width: 540px;
}
.detail-info {
  background: whitesmoke;
  padding: 20px 20px;
}
.detail-info .col-md-9 h4 {
  font-family: ProximaNovaLight;
  font-size: 21px;
}
.presenter-box p {
  font-size: 15px;
  font-family: ProximaNovaRegular;
}
