<div class="main-wrapper">
  <div class="inner-content">
    <div class="header-wrapper text-center">
      <h3>{{section.heading}}</h3>

      <h5>
        Why Our Customers
        <img alt="Love" class="love" src="/assets/frontend/LOVE.svg">
        SunRay
      </h5>
    </div>

    <div class="list-wrapper justify-content-md-center major-partner">

      <div class="item-wrapper">
        <a class="yt-video" href="#">
          <img alt="ABC" src="/assets/frontend/abc.jpg">
        </a>
      </div>


      <div class="item-wrapper text-center partner-info">
        <img alt="ABC" src="/assets/frontend/partner-logos/abc.png">

        <p>
          <span class="fa fa-quote-left"></span>
          Sunray has provided us with a Partnership to Manage Construction Documents thorughout the United States
          <span class="fa fa-quote-right"></span>
        </p>

        <hr class="h-line">
        <h5 class="proxima-bold">RICK RUSSEL</h5>
        <h6 class="sub-head font-italic">
          Executive Director- Custom Financial Services
        </h6>
      </div>

    </div>


    <div class="list-wrapper justify-content-md-center font-italic text-center partners">

      <div class="item-wrapper">
        <div class="item-inner-wrapper video-block">
          <a class="yt-video" href="#">
            <img alt="Rams" src="/assets/frontend/rams.jpg">
          </a>

          <div class="video-info">
            <img alt="Rams" class="rams"
              src="/assets/frontend/partner-logos/rams.png">

            <p>
              Lorrm Ipsum is simply dummy text of the printing and type setting Industry.
            </p>
          </div>
        </div>
      </div>


      <div class="item-wrapper">
        <div class="item-inner-wrapper video-block">
          <a class="yt-video" href="#">
            <img alt="Silmar" src="/assets/frontend/silmar.jpg">
          </a>

          <div class="video-info">
            <img alt="Silmar" class="silmar"
             src="/assets/frontend/partner-logos/silmar.png">

            <p>
              Lorrm Ipsum is simply dummy text of the printing and type
              setting Industry.
            </p>
          </div>
        </div>
      </div>


      <div class="item-wrapper">
        <div class="item-inner-wrapper video-block">
          <a class="yt-video" href="#">
            <img alt="Lehman" src="/assets/frontend/lehman.jpg">
          </a>

          <div class="video-info">
            <img alt="Lehman" class="lehman"
              src="/assets/frontend/partner-logos/lehman.png">

            <p>
              Lorrm Ipsum is simply dummy text of the printing and type
              setting Industry.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
