<p>
  form-setting-pane works!
</p>


<div class='document-type-form-attachment-list-wrapper list-wrapper'>
  <shared-declarables-list>
  </shared-declarables-list>
</div>


<div class='document-type-form-company-detail-list-wrapper list-wrapper'>
  <shared-declarables-list>
  </shared-declarables-list>
</div>


<div class='document-type-form-job-detail-list-wrapper list-wrapper'>
  <shared-declarables-list>
  </shared-declarables-list>
</div>


<div class='document-type-form-legal-info-list-wrapper list-wrapper'>
  <shared-declarables-list>
  </shared-declarables-list>
</div>


<div class='document-type-form-project-participant-list-wrapper list-wrapper'>
  <shared-declarables-list>
  </shared-declarables-list>
</div>


<div class='document-type-form-record-information-list-wrapper list-wrapper'>
  <shared-declarables-list>
  </shared-declarables-list>
</div>

