.form-group{
  display: flex;
}
.accountLogo{
  margin-top: 11%;
  margin-left: 15%;
}
.uploadFile{
  border:0.2px solid rgba(0, 0, 0, 0.125);
  height: max-content;
  text-align: center;
  padding: 27%
}
h6{
  text-align: center;
}
img {
  width: 1.2rem !important;
  margin-left: 5% !important;
}
