<div class="congrats">
  <div class="modal-banner-image">
    <img src="/assets/frontend/signup/Congratulations!.svg">
    <div>
      <div class="modal-header">
        <h3 class="title">CONGRATULATIONS!</h3>
      </div>
      <div class="content text-center">
        <p>
          Your free SunRay account is successfully <br/>
          created! Please press ok to continue <br/>
          filing the document you wish to send.
        </p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-wrapper">
            <button class="btn btn-primary btn-lg-curved" (click)="activeModal.dismiss('Cross click')">OK</button>
          </div>
        </div>
      </div><br>
    </div>
  </div>
</div>
