<div class="page animated fadeIn">
  <div class="container">
    <div class="integration-heading">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <h4 class="heading text-center">Get paid faster with SunRay's
          powerful integrations</h4>
        </div>


        <div class="col-md-7">
          <p class="sub-heading text-center">Get a powerful Digital
          Transaction Management platform with the most popular CRM and
          out-of-the-box solutions on the market today. Send, sign and take
          action directly from the applications you already use.</p>
        </div>
      </div>
    </div>


    <div class="integration-page">
      <div class="justify-content-md-center integration-list-wrapper">


        <div class="integration-item-wrapper text-center padding integration-item-wrapper">
          <div class="integration-img">
            <div class="quickbooks">
              <img src="/assets/frontend/integrations/integration1.jpg">
            </div>
          </div>
          <p class="int-heading book">Quickbooks</p>
          <p class="content">Stay in control of your business with the
          world's #1 online accounting software for small businesses.</p>

          <div class="more-btn">
            <a class="int-btn" href=
            "https://uconstructionsolutions.com/"><button class=
            "btn btn-primary btn-lg">LEARN MORE</button></a>
          </div>
        </div>


        <div class="integration-item-wrapper text-center padding">
          <div class="integration-img">
            <div class="foundation">
              <img src="/assets/frontend/integrations/integration2.jpg">
            </div>
          </div>
          <p class="int-heading top">Foundation Software</p>
          <p class="content">Construction accounting software focused on job
          casting and project management. FOUNDATION is America's #1
          Construction Accounting Software.</p>


          <div class="more-btn">
            <a class="int-btn" href=
            "https://uconstructionsolutions.com/"><button class=
            "btn btn-primary btn-lg">LEARN MORE</button></a>
          </div>
        </div>


        <div class="integration-item-wrapper text-center padding dropbox-section">
          <div class="integration-img">
            <div class="drop">
              <img src="/assets/frontend/integrations/integration3.jpg">
            </div>
          </div>
          <p class="int-heading">Dropbox</p>
          <p class="content box">Save files on your computer, then access
          them on your phone from the road.</p>

          <div class="more-btn">
            <a class="int-btn" href=
            "https://uconstructionsolutions.com/"><button class=
            "btn btn-primary btn-lg">LEARN MORE</button></a>
          </div>
        </div>


        <div class="integration-item-wrapper text-center padding">
          <div class="integration-img">
            <div class="procure">
              <img src="/assets/frontend/integrations/integration4.jpg">
            </div>
          </div>

          <p class="int-heading">Procore</p>
          <p class="content">The world's most widely used contsruction
          project management software. Easy to use, mobile platform with
          unlimited user licenses.</p>

          <div class="more-btn">
            <a class="int-btn" href=
            "https://uconstructionsolutions.com/"><button class=
            "btn btn-primary btn-lg">LEARN MORE</button></a>
          </div>
        </div>

        <div class="integration-item-wrapper text-center padding">
          <div class="integration-img">
            <div class="sage">
              <img src="/assets/frontend/integrations/integration5.jpg">
            </div>
          </div>

          <p class="int-heading">Sage</p>
          <p class="content">Supplier of accounting and payroll software to
          the small to medium sized business community worldwide.</p>

          <div class="more-btn">
            <a class="int-btn" href=
            "https://uconstructionsolutions.com/"><button class=
            "btn btn-primary btn-lg">LEARN MORE</button></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
