<div class="main-wrapper">
  <div class="entities-wrapper">
    <div class="entity-options-wrapper">
      <div class="entity-outer-wrapper"
        *ngFor="let entity of items$ | async"
        (click)="select(entity)">

        <div class="entity-wrapper"
          [ngClass]="{'active': isSelectedItem(entity)}">

          <div class="entity-inner-wrapper">
            <div class="image-wrapper">
              <mat-icon class="svg-wrapper" svgIcon="{{imageName(entity)}}">
              </mat-icon>
            </div>
            <div class="content-wrapper">
              <span class="name">{{entity.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
