<div class="animated fadeIn">
  <sunray-site-shared-content-header
    [heading]="heading"
    [subHeading]="subHeading">
  </sunray-site-shared-content-header>

  <div id="our-solution" class="page-section">
    <div class="inner-content">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3" id="lead-icon">
            <div class="card">
              <div>
                <a class="float-right pr-2 pt-2 cursor-pointer" (click)="knowMore('Notice to Owner Florida')">
                  <i class="fa fa-question-circle"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="purpose-icon">
                  <img alt="notice-to-owner-florida.svg" src="/assets/frontend/our-solutions/notice-to-owner-florida.svg">
                </div>
                <p class="lead-heading mt-3">Notice to Owner
                <br/>
                Florida</p>
                <br/>
                <div class="btn-wrapper ml-2">
                  <a class="btn btn-primary btn-lg btn-lg-curved" [routerLink]="'../states/florida'">Learn More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="lead-icon">
            <div class="card">
              <div>
                <a class="float-right pr-2 pt-2 cursor-pointer" (click)="knowMore('Preliminary Notice')">
                  <i class="fa fa-question-circle"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="purpose-icon">
                  <img alt="priliminary-notice.svg" src="/assets/frontend/our-solutions/preliminary-notice.svg">
                </div>
                <p class="lead-heading mt-3">Preliminary
                <br/>
                Notice</p>
                <br/>
                <div class="btn-wrapper ml-2">
                  <a class="btn btn-primary btn-lg btn-lg-curved" [routerLink]="'../documents/preliminary-notice'">Learn More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="lead-icon">
            <div class="card">
              <div>
                <a class="float-right pr-2 pt-2 cursor-pointer" (click)="knowMore('Notice of Intent')">
                  <i class="fa fa-question-circle"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="purpose-icon">
                  <img alt="notice-of-intent.svg" src="/assets/frontend/our-solutions/notice-of-intent.svg">
                </div>
                <p class="lead-heading mt-3">Notice of
                <br/>
                Intent</p>
                <br/>
                <div class=" btn-wrapper ml-2">
                  <a class="btn btn-primary btn-lg btn-lg-curved" [routerLink]="'../documents/notice-of-intent'">Learn More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="lead-icon">
            <div class="card">
              <div>
                <a class="float-right pr-2 pt-2 cursor-pointer" (click)="knowMore('Stop Payment Notice')">
                  <i class="fa fa-question-circle"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="purpose-icon">
                  <img alt="stop-payment-notice.svg" src="/assets/frontend/our-solutions/stop-payment-notice.svg">
                </div>
                <p class="lead-heading mt-3">Stop Payment
                <br/>
                Notice</p>
                <br/>
                <div class=" btn-wrapper ml-2">
                  <a class="btn btn-primary btn-lg btn-lg-curved" [routerLink]="'../documents/stop-payment-notice'">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br/>
        
        <div class="row text-center">
          <div class="col" id="lead-icon">
          </div>
          <div class="col-md-3" id="lead-icon">
            <div class="card">
              <div>
                <a class="float-right pr-2 pt-2 cursor-pointer" (click)="knowMore('Construction Lien')">
                  <i class="fa fa-question-circle"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="purpose-icon">
                  <img alt="construction-lien.svg" src="/assets/frontend/our-solutions/construction-lien.svg">
                </div>
                <p class="lead-heading mt-3">Construction
                <br/> 
                Lien</p>
                <br/>
                <div class=" btn-wrapper ml-2">
                  <a class="btn btn-primary btn-lg btn-lg-curved" [routerLink]="'../documents/construction-lien'">Learn More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="lead-icon">
            <div class="card">
              <div>
                <a class="float-right pr-2 pt-2 cursor-pointer" (click)="knowMore('Construction Bond')">
                  <i class="fa fa-question-circle"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="purpose-icon">
                  <img alt="construction-bond.svg" src="/assets/frontend/our-solutions/construction-bond.svg">
                </div>
                <p class="lead-heading mt-3">Construction
                <br/>
                Bond</p>
                <br/>
                <div class=" btn-wrapper ml-2">
                  <a class="btn btn-primary btn-lg btn-lg-curved" [routerLink]="'../documents/construction-bond'">Learn More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="lead-icon">
            <div class="card">
              <div>
                <a class="float-right pr-2 pt-2 cursor-pointer" (click)="knowMore('Miller Act Notice')">
                  <i class="fa fa-question-circle"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="purpose-icon">
                  <img alt="miller-act-notice.svg" src="/assets/frontend/our-solutions/miller-act-notice.svg">
                </div>
                <p class="lead-heading mt-3">Miller Act
                <br/> 
                Notice</p>
                <br/>
                <div class="btn-wrapper ml-2">
                  <a class="btn btn-primary btn-lg btn-lg-curved" [routerLink]="'../documents/miller-act-notice'">Learn More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="lead-icon">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
