@import 'sizing';

$input-btn-padding-y-xl:      .75rem !default;
$input-btn-padding-x-xl:      1.25rem !default;
$input-btn-line-height-xl:    $line-height-xl;

$input-btn-padding-y-xxl:      1rem !default;
$input-btn-padding-x-xxl:      1.5rem !default;
$input-btn-line-height-xxl:    $line-height-xxl !default;
