$line-height-xl:              1.5;
$line-height-xxl:             1.5;

$font-size-xl:                ($font-size-base * 1.75);
$font-size-xxl:               ($font-size-base * 2);

$border-radius-xl:            .4rem;
$border-radius-xxl:           .5rem;
$border-radius-xxxl:          1rem;

$btn-border-radius-xl:        $border-radius-xl;
$btn-border-radius-xxl:       $border-radius-xxl;

$navbar-toggler-font-size: 1.5rem;
