@font-face {
  font-family:ProximaNovaThin;
  src: url('/assets/fonts/ProximaNova/Mark Simonson - Proxima Nova Thin.otf');
}
@font-face {
  font-family: LatoLight;
  src: url('/assets/fonts/Lato-Light.ttf');
}
@font-face {
  font-family: ProximaNovaRegular;
  src: url('/assets/fonts/ProximaNova/Mark Simonson - Proxima Nova Regular.otf');
}

@font-face {
  font-family: ProximaNovaBold;
  src: url('/assets/fonts/ProximaNova/Mark Simonson - Proxima Nova Bold.otf');
}

@font-face {
  font-family: ProximaNovaSemibold;
  src: url('/assets/fonts/ProximaNova/Mark Simonson - Proxima Nova Semibold.otf');
}

@font-face {
  font-family: ProximaNovaRegularItalic;
  src: url('/assets/fonts/ProximaNova/Mark Simonson - Proxima Nova Regular Italic.otf');
}

@font-face {
  font-family: ProximaNovaBoldItalic;
  src: url('/assets/fonts/ProximaNova/Mark Simonson - Proxima Nova Bold Italic.otf');
}

@font-face {
  font-family: ProximaNovaLight;
  src: url('/assets/fonts/ProximaNova/Mark Simonson - Proxima Nova Light.otf');
}

@font-face {
  font-family: ProximaNovaBlack;
  src: url('/assets/fonts/ProximaNova/Mark Simonson - Proxima Nova Black.otf');
}

@font-face {
  font-family: ProximaNovaSemiboldItalic;
  src: url('/assets/fonts/ProximaNova/Mark Simonson - Proxima Nova Semibold Italic.otf');
}

@font-face {
  font-family: ProximaNovaExtraBold;
  src: url('/assets/fonts/ProximaNova/Mark Simonson - Proxima Nova Extrabold Italic.otf');
}
