<div class="card deadline-calculate">

  <div class="card-body">
    <div class="icon-wrap">
      <img src="{{imageUrl(documentType)}}">
    </div>

    <p class="lead-heading mt-3">{{documentType.dueDateType}}</p>
  </div>

  
  <div class="card-footer">
    <div class="form-group">

      <div class="input-group mb-3">
        <input class="form-control"
          type="text"
          placeholder="yyyy-mm-dd"
          name="{{documentType.documentType}}"
          [formControl]="submissionDateControl"
          ngbDatepicker #d1="ngbDatepicker">

        <div class="input-group-append">
          <button class="btn btn-outline-light"
            (click)="d1.toggle()" type="button">

            <img src="/assets/frontend/webinars/calendar.svg"
              style="width: 1.2rem; height: 1rem; cursor: pointer;">
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
