@import "helpers";

.cards-outer-wrapper {
  @include make-container;
}

// Queue Cards
.cards-wrapper {
  height: 100%;
  @include make-row;

  .card-wrapper {
    @include make-col-ready;
    @include flex-child;
    padding-top: $card-wrapper-spacer-y;

    .card-inner-wrapper {
      border: 1px solid;
      padding: $card-wrapper-spacer-y $card-wrapper-spacer-x;
      color: $white !important;
      font-weight: bold;
      border-radius: 5px;
      opacity: 0.98;
      height: 100%;

      &.clickable {
        cursor: pointer;

        &:hover {
          opacity: 1;
          @include hover-zoom;
        }
      }

      .value-wrapper  {
        font-size: 3em;
      }

      .title-wrapper {
        text-transform: uppercase;
        font-size: 1.2em;
        line-height: 1;
        color: $white !important;
      }
    }
  }
}

.card {
  background-color: $gray-100;
  text-align: center;

  &.clickable {
    cursor: pointer;
  }

  .card-body {
    padding: 1.5rem;
  }

  &:hover {
    background-color: $white;
    .btn-primary {
      background-color: $primary !important;
      color: $white;
    }
  }

  .icon-wrapper {
    padding-bottom: $spacer-y-md;
    height: 100px;
    max-height: 100px;
  }

}

.card-footer {
  border-top: none;
  background-color: transparent;
  padding-bottom: $spacer-y-md;
}


@mixin svg-color($color) {
  span, svg, svg path, svg polygon {
    color: $color;
    fill: $color !important;
  }

}
:host  /deep/ .icon-wrapper {
  &.red {
    @include svg-color($red);
  }

  &.green {
    @include svg-color($green);
  }

  &.orange {
    @include svg-color($orange);
  }
}
