<img alt="Logo" src="/assets/frontend/logo.svg" style="width: 130px">

<div class="footer-icons">
  <a href="#">
    <img alt="Facebook" src="/assets/frontend/footer-icons/facebook.svg">
  </a>
  <a href="#">
    <img alt="Linkedin" src="/assets/frontend/footer-icons/linkedin.svg">
  </a>
  <a href="#">
    <img alt="Twitter" src="/assets/frontend/footer-icons/twitter.svg">
  </a>
  <a href="#">
    <img alt="Google plus" src="/assets/frontend/footer-icons/google-plus.svg">
  </a>
  <a href="#">
    <img alt="Play" src="/assets/frontend/footer-icons/play.svg">
  </a>
</div>


<h5 class="footer-number">
  <a class="phone-link" href="tel:800-403-7660">
    800-403-7660
  </a>
</h5>
