.ngx-pagination {
  float: right;
}
.ngx-pagination li{
  border: 1.3px solid #e6dede;
}
.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before{
  content: '' !important;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
  content: '' !important;
}
.ngx-pagination-item-count{
  padding-top: 10px;
  display: inherit;
}
