
.container-detail{
    border:1.3px solid #e6dede;
    margin-bottom: 20px;
    margin-top:20px;
}
.container-body{
  margin-left: 14px;
  margin-right: 14px;
  margin-top:14px;
  margin-bottom: 22px;
}

// .container-footer{
//   margin-bottom: 21px;
// }

// .container-footer-body{
//   color:$body-color-muted;
//   margin-left: 2%;
// }
