tr:nth-child(odd)		  { background-color:#fff; }
tr:nth-child(even)		{ background-color:$brand-grey; }

thead{
  tr:nth-child(odd)   {background-color: $brand-grey;}
}
td:first-child        { font-weight: bold; }
