@import "helpers";

// Banner
#banner {
	color: $white;
	background-size: cover;

	.inner-content{
	  padding-top: 30px;
	}
}

#for-beginners{
  background-color: #0070B9 !important;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  .beginner-button{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#button-beginner{
  border: 0;
  border-radius: 31px;
  padding: 12px 25px 12px;
  font-size: 11px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.beginner-link a {
  color: $white;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none;
 border-color:#cccccc;
}

#state-map-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: $spacer * 5;
  padding-bottom: $spacer * 5;
}


#videos, #features {
  background-color: $body-bg-2;
}

.state-select-wrapper {
  text-align: center;

  .state-select-inner-wrapper {
    display: inline-block;
    margin: auto;
    padding: $spacer;
    border-radius: $border-radius-lg;
    background-color: $gray-100;
  }
}

.state-data-list-wrapper {
  @include make-row;

  .state-box {
    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    @include media-breakpoint-up(md) {
      h6 {
        max-width: 80%;
        margin: auto;
      }
    }
  }
}

.owner-quote {
  padding-bottom: 0px;
}

#states{
	.public-notice {
	  button{
      width: auto;
	  }
	}
	background-color: #0070B9;
	color: #fff;
	h4{
	  margin-bottom: 0.5em;
	}
	p{
		margin-bottom: 1.5rem;
	}
	#state-map{
	  width: 670px;
	  height: 440px;
	}
	.row{
	  img{
			width: 74px;
		}
		h5{
		  margin-top: 20px;
			font-size: 20px;
			font-weight: bold;
		}
	}
	button{
	  width: 25%;
		background-color: #DFE9ED;
		border-color: #DFE9ED;
	}
	button input{
		border-radius: 20px;
		background-color: #E5E6E8;
		color:#ADA9A9;
		font-size:13px;
	}
  textarea:focus, input:focus{
    outline: none;
	}

}

