@import 'variables';

// Brand Colors
.brand-blue {
  background-color: $brand-blue;
  border-color: $brand-blue;
}

.brand-teal {
  background-color: $brand-teal;
  border-color: $brand-teal;
}

.brand-salmon {
  background-color: $brand-salmon;
  border-color: $brand-salmon;
}

.brand-green {
  background-color: $brand-green;
  border-color: $brand-green;
}

.brand-pink {
  background-color: $brand-pink;
  border-color: $brand-pink;
}
