<div class='app-layout-wrapper'>
  <div class='app-alert'>
    <sunray-ui-app-layout-alert>
    </sunray-ui-app-layout-alert>
  </div>

  <div class='app-header'>
    <sunray-ui-app-layout-header>
    </sunray-ui-app-layout-header>
  </div>

  <div class='app-subheader'>
    <sunray-ui-app-layout-subheader>
    </sunray-ui-app-layout-subheader>
  </div>

  <div class='app-content'>
    <sunray-ui-app-layout-content>
    </sunray-ui-app-layout-content>
  </div>

  <div class='app-footer'>
    <sunray-ui-app-layout-footer>
    </sunray-ui-app-layout-footer>
  </div>

</div>
