<div id="contact-page" class="animated fadeIn">
  <sunray-site-shared-content-header
    [heading]="heading"
    [subHeading]="subHeading">
  </sunray-site-shared-content-header>

  <div class="inner-content">
    <div class="container">
      <div class="row text-center">
        <div class="card-wrapper col-md-4">
          <div class="card">
            <div class="purpose-icon">
              <img src="/assets/frontend/contact_us/request_a_demo.svg">
            </div>
            <h5 class="lead-heading mt-3">
              Request a Demo
            </h5>
            <p class="lead-content">Request a demonstration of SunRay's Intelligent construction payment platform</p>
            <br/>
            <div class=" ml-2">
              <a ceoClickStopEventBubble
                class="btn btn-primary btn-lg btn-lg-curved"
                (click)="editContactListMember('demo-request')">

                REQUEST A DEMO
              </a>
            </div>
          </div>
        </div>
        <div class="card-wrapper col-md-4">
          <div class="card">
            <div class="purpose-icon">
              <img src="/assets/frontend/contact_us/sales_inquiry.svg">
            </div>
            <h5 class="lead-heading mt-3">
              Sales Inquiry
            </h5>
            <p class="lead-content">For all sales related inquiries please contact our sales team</p>
            <br/>
            <div class=" ml-2">
              <a ceoClickStopEventBubble
                class="btn btn-primary btn-lg btn-lg-curved"
                (click)="editContactListMember('inquiry')" href="#">

                SALES INQUIRY
              </a>
            </div>
          </div>
        </div>
        <div class="card-wrapper col-md-4">
          <div class="card">
            <div class="purpose-icon">
              <img src="/assets/frontend/contact_us/customer_support.svg">
            </div>
            <h5 class="lead-heading mt-3">
              Customer Support
            </h5>
            <p class="lead-content">
              Need help or have a question? Get in touch with our customer support team
            </p>
            <br/>
            <div class="ml-2">
              <a ceoClickStopEventBubble
                class="btn btn-primary btn-lg btn-lg-curved"
                (click)="editContactListMember('support')" href="#">

                CUSTOMER SUPPORT
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="office-contact">
     <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10" id="office">
            <h4 class="heading text-center">Offices</h4>
            <div class="row mt-4">
              <div class="col-md-4 px-3">
                <h6 class="mb-3 office-type">Headquarters</h6>
                <p class="office-details">
                  <b>Sunray Construction Solutions</b>
                  <br>
                  <span>2001 W. Cypress Creek Rd.Suite 101</span>
                  <br>
                  <span>Fort Lauderdale,</span>
                  <span>FL</span>
                  <span>33309</span>
                  <br>
                  <span><a class="phone-link" href="tel:800-403-7660">800-403-7660</a></span>
                </p>
              </div>
              <div class="col-md-4">
                <h6 class="mb-3 office-type">Additional Offices</h6>
                <div class="row">
                  <div class="col-md-6">
                    <p class="office-details">
                      <b>California</b>
                      <br>
                      <span><a class="phone-link" href="tel:(123)456-7894">(123)456-7894</a></span>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="office-details">
                      <b>Illinois</b>
                      <br>
                      <span><a class="phone-link" href="tel:(232)323-2325">(232)323-2325</a></span>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="office-details">
                      <b>Florida</b>
                      <br>
                      <span><a class="phone-link" href="tel:(789)456-1237">(789)456-1237</a></span>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="office-details">
                      <b>Colorado</b>
                      <br>
                      <span><a class="phone-link" href="tel:(456)123-7894">(456)123-7894</a></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 px-3">
                <h6 class="mb-3 office-type">Or, Let's Get Social</h6>
                <div class="social-media-icons-wrapper">
                  <div class="social-media-icon-wrapper">
                    <a class="mr-3" target="_blank" href="https://www.facebook.com/"><img src="/assets/frontend/contact_us/facebook.svg"></a>
                  </div>
                  <div class="social-media-icon-wrapper">
                    <a class="mr-3" target="_blank" href="https://www.linkedin.com/"><img src="/assets/frontend/contact_us/linkedin.svg"></a>
                  </div>
                  <div class="social-media-icon-wrapper">
                    <a class="mr-3" target="_blank" href="https://www.twitter.com/"><img src="/assets/frontend/contact_us/twitter.svg" ></a>
                  </div>
                  <div class="social-media-icon-wrapper">
                    <a class="mr-3" target="_blank" href="https://plus.google.com"><img src="/assets/frontend/contact_us/google_plus.svg"></a>
                  </div>
                  <div class="social-media-icon-wrapper">
                    <a class="mr-3" target="_blank" href="https://www.youtube.com/"><img src="/assets/frontend/contact_us/youtube.svg"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>
