@import "helpers";

.sticky-header-option {
  padding-top: $spacer * 5 !important;
}

#sticky-menu {
  .floating-image-options-menu {
    background-color: $body-bg-2;
    border-bottom: 1px solid $gray-300;
    padding-bottom: $spacer * 0.5;
    width: 100%;
    z-index: 1000;
  }

  .sticky-menu-wrapper {
    .inner-wrapper {
      @include make-container;
      @include make-container-max-widths;
    }
  }

  .nav-link {
    img {
      margin-right: $spacer * 0.5;
    }
  }

  img {
    width: 20px;
  }
}


