<div class="text-center">
  <div class="inner-content">
    <div class="feature-list-wrapper">
      <div class="feature-wrapper">
        <a class="fblock" [routerLink]="'features'">
          <div class="feature">
            <img alt="Tracking" src="/assets/frontend/features/tracking.svg">
            <br>
            <h5 class="font-weight-bold">
              Tracking Your
              <br>
              Every Deadline
              <br>
            </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </div>
        </a>
      </div>
      <div class="feature-wrapper">
        <a class="fblock" [routerLink]="'features'">
          <div class="feature">
            <img alt="Online file" src="/assets/frontend/features/online_file.svg">
            <h5 class="font-weight-bold">
              Online File
              <br>
              Storage
              <br>
            </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </div>
        </a>
      </div>
      <div class="feature-wrapper">
        <a class="fblock" [routerLink]="'features'">
          <div class="feature">
            <img alt="System" src="/assets/frontend/features/system.svg">
            <h5 class="font-weight-bold">
              System Does the
              <br>
              Thinking For You
              <br>
            </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </div>
        </a>
      </div>
      <div class="feature-wrapper">
        <a class="fblock" [routerLink]="'features'">
          <div class="feature">
            <img alt="Free releases" src="/assets/frontend/features/free_releases.svg">
            <h5 class="font-weight-bold">
              Free Releases
              <br>
              of Liens
              <br>
            </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </div>
        </a>
      </div>
      <div class="feature-wrapper">
        <a class="fblock fblock-2" [routerLink]="'features'">
          <div class="feature">
            <img alt="Live usps" src="/assets/frontend/features/live_usps.svg">
            <h5 class="font-weight-bold">Live USPS Tracking</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </div>
        </a>
      </div>
      <div class="feature-wrapper">
        <a class="fblock fblock-2" [routerLink]="'features'">
          <div class="feature">
            <img alt="Api" src="/assets/frontend/features/api.svg">
            <h5 class="font-weight-bold">API</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </div>
        </a>
      </div>
      <div class="feature-wrapper">
        <a class="fblock fblock-2" [routerLink]="'features'">
          <div class="feature">
            <img alt="Excel upload" src="/assets/frontend/features/excel_upload.svg">
            <h5 class="font-weight-bold">Excel Upload</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </div>
        </a>
      </div>
      <div class="feature-wrapper">
        <a class="fblock fblock-2" [routerLink]="'features'">
          <div class="feature">
            <img alt="Custom reports" src="/assets/frontend/features/custom_reports.svg">
            <h5 class="font-weight-bold">Custom Reports</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
