
.form-field-group{
  display: flex;
  flex-wrap: wrap;
  font-weight: bolder;
}
.inputGroupTemplate{
  margin-top:5%;
}
.btn{
  background-color: #066bac;
  color: white;
  margin-left: 100%;
  margin-top: -6%;
  margin-bottom: -5%;
}
b{
  margin-left: 1%;
}
