@import 'helpers';

ol{
  padding-left: 2em;
}
li{
  list-style-type: none;
}

.text-message{
  font-size: x-small;
}

.main-message-wrapper {
  padding-top: $spacer-x-lg;
  padding-bottom: $spacer-x-lg;
  text-align: center;

  .button-wrapper {
    padding-bottom: $spacer-x-lg;
  }

  .main-message {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.card-wrapper {
  @include make-col(3);
}
.container {
  text-align: justify;
  .card-inner-wrapper {
    // border: 1px solid $black;
    background-color: $gray-400;
    position: relative;
    .value-wrapper input[type="checkbox"]{
      height: auto !important;
      word-spacing:15px;
      padding-left: 50px;
      width:auto !important;
    }
    .value-wrapper{
      width: 600px;
      display: inline-flex;
      padding-left: 2em;
    }
    .verify_check{width:20px;}
    .verify_lists{width:200px;}
    .verify_value{font-size:13px;padding-left: 15px;color: #257a9f}
  }
}
.list-style-none
{list-style-type: none;}
