<img alt="{{entity.fullName}}'s Profile" class="round-img mini"
  src={{entity.featuredMediaUrl}}>

<h6 class='name'>{{entity.fullName}}</h6>
<p class='designation'>{{entity.designation}}</p>
<p class='description'>{{entity.my_story | slice:0:80}}</p>

<div [hidden]="true" class='our-team-icons'>
  <a href="http://facebook"><i class="fa fa-facebook-square"></i></a>
  <a href="http://linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
</div>
