<div id="subheader" class="main-wrap">
  <div class="subheader-container">
    <div class="subheader-inner-wrapper">

      <nav class="navbar navbar-expand-lg">
        <div class="container nav-header">

          <div class="collapse navbar-collapse" id="subheader-bar">
            <sunray-ui-site-layout-header-menu
              [layoutService]="layoutService"
              [menu$]="layoutService.headerNavigationMenu$">
            </sunray-ui-site-layout-header-menu>
          </div>

        </div>
      </nav>

      <sunray-ui-site-layout-header-get-paid-button>
      </sunray-ui-site-layout-header-get-paid-button>

    </div>
  </div>
</div>
