<div class="app-layout">
  <div class='app-alert'>
    <sunray-ui-layout-alert>
    </sunray-ui-layout-alert>
  </div>

  <div class="app-header">
    <sunray-ui-site-layout-header
      [layoutService]="layoutService">
    </sunray-ui-site-layout-header>
  </div>

  <div class='app-subheader'>
    <sunray-site-layout-subheader
      [layoutService]="layoutService">
    </sunray-site-layout-subheader>
  </div>

  <div class="app-content">
    <sunray-ui-site-layout-content
      [layoutService]="layoutService">
    </sunray-ui-site-layout-content>
  </div>

  <div class="app-footer">
    <sunray-ui-site-layout-footer
      [layoutService]="layoutService">
    </sunray-ui-site-layout-footer>
  </div>
</div>
