<div class="main-wrapper">
  <div class="inner-wrapper desktop-layout">
    <div class="image-wrapper">
      <img alt="Ariela footer"
        class="profile-image"
         src="/assets/frontend/ariela-footer.png">
    </div>


    <div class="quote-wrapper">
      <h5 class="footer-text">
        <img alt="Footer quote"
          class="footer-quote" src="/assets/frontend/footer-quote.svg">

        <span>At SunRay we are interested in the success of your business, as your success is our success!</span>

        <img alt="Footer quote" class="footer-quote"
          src="/assets/frontend/footer-quote.svg">
      </h5>

      <div class="profile-signature">
        <img alt="Signature" class=""
          src="/assets/frontend/signature.jpg">

        <h6 class="footer-designation">
          <em>Founder of SunRay Construction Solutions</em>
        </h6>
      </div>
    </div>
  </div>
</div>
