<div class="content animated fadeIn" id="notices">
   <div class="container">
      <div class="public-notice mx-5 px-5">
      </div>
   </div>
   <div class="page">
      <div class="container">

         <h1 class="heading text-center">Pricing</h1>
         <h4 class="sub-heading text-center">Preliminary Notice / Notice to Owner</h4>

         <div class="pricing">
             <div class="pricing-item-wrapper">
                   <div class="card">
                      <div class="card-body text-center level-wrapper">
                         <h4 class="price-option-header">LEVEL 1</h4>
                         <h6>No Monthly Fees</h6>
                      </div>
                      <div class="card-header">
                         <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center border-0 no-padding">
                               <h3 class="number">
                                 $30
                               </h3>
                               <p class="text">Per Notice Plus Postage</p>
                               <p class="text">No Hidden Fees</p>
                            </li>
                         </ul>
                      </div>
                      <div class="card-body">
                         <ul class="list-group list-group-flush">
                            <li class="list-group-item border-0">
                               <p class="heading">Notices Per Month</p>
                               <h3 class="text-primary">1-30</h3>
                            </li>
                            <li class="list-group-item border-0 value-wrapper">
                               <div class="pricing-tick">
                                  <img src="/assets/frontend/Tick.svg" alt="Tick">
                               </div>
                               <p class="heading">Release of Liens</p>
                            </li>
                            <li class="list-group-item border-0 value-wrapper">
                               <div class="pricing-tick">
                                  <img src="/assets/frontend/Tick.svg" alt="Tick">
                               </div>
                               <p class="heading">Free Reminders</p>
                            </li>
                            <li class="list-group-item border-0 value-wrapper">
                               <div class="pricing-tick">
                                  <img src="/assets/frontend/Tick.svg" alt="Tick">
                               </div>
                               <p class="heading">Free Online Courses</p>
                            </li>
                            <li class="list-group-item border-0 value-wrapper">
                               <div class="pricing-tick">
                                  <img src="/assets/frontend/Tick.svg" alt="Tick">
                               </div>
                               <p class="heading">Free Webinars</p>
                            </li>
                            <li class="btn-wrapper list-group-item text-center border-0">
                               <a class="" [routerLink]="'/signup'">
                               <button class="btn btn-rounded btn-outline-primary btn-hover-secondary">Sign up</button>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
             </div>
             <div class="pricing-item-wrapper">
                 <div class="card">
                    <div class="card-body text-grey text-center level-wrapper">
                       <h4 class="price-option-header">LEVEL 2</h4>
                       <h6>No Monthly Fees</h6>
                    </div>
                    <div class="card-header">
                       <ul class="list-group list-group-flush">
                          <li class="list-group-item text-center border-0 no-padding">
                            <h3 class="number">
                              $25
                            </h3>
                            <p class="text">Per Notice Plus Postage</p>
                            <p class="text">No Hidden Fees</p>
                          </li>
                       </ul>
                    </div>
                    <div class="card-body">
                       <ul class="list-group list-group-flush">
                          <li class="list-group-item border-0">
                             <p class="heading">Notices Per Month</p>
                             <h3 class="text-primary">31 - 100</h3>
                          </li>
                          <li class="list-group-item border-0 value-wrapper">
                             <div class="pricing-tick">
                                <img src="/assets/frontend/Tick.svg" alt="Tick">
                             </div>
                             <p class="heading">Releases of Liens</p>
                          </li>
                          <li class="list-group-item border-0 value-wrapper">
                             <div class="pricing-tick">
                                <img src="/assets/frontend/Tick.svg" alt="Tick">
                             </div>
                             <p class="heading">Free Reminders</p>
                          </li>
                          <li class="list-group-item border-0 value-wrapper">
                             <div class="pricing-tick">
                                <img src="/assets/frontend/Tick.svg" alt="Tick">
                             </div>
                             <p class="heading">Free Online Courses</p>
                          </li>
                          <li class="list-group-item border-0 value-wrapper">
                             <div class="pricing-tick">
                                <img src="/assets/frontend/Tick.svg" alt="Tick">
                             </div>
                             <p class="heading">Free Webinars</p>
                          </li>
                          <li class="btn-wrapper list-group-item text-center border-0">
                             <a class="" [routerLink]="'/signup'">
                             <button class="btn btn-rounded btn-outline-primary btn-hover-secondary">Sign up</button>
                             </a>
                          </li>
                       </ul>
                    </div>
                </div>
             </div>
             <div class="pricing-item-wrapper">
                 <div class="card">
                    <div class="card-body text-grey text-center level-wrapper">
                       <h4 class="price-option-header">ENTERPRISE</h4>
                       <h6>No Monthly Fees</h6>
                    </div>
                    <div class="card-header">
                       <ul class="list-group list-group-flush">
                          <li class="list-group-item text-center border-0 no-padding">
                             <h3 class="number"></h3>
                             <p class="text">Contact for Pricing</p>
                             <p class="text">No Hidden Fees</p>
                          </li>
                       </ul>
                    </div>
                    <div class="card-body">
                       <ul class="list-group list-group-flush">
                          <li class="list-group-item border-0">
                             <p class="heading">Notices Per Month</p>
                             <h3 class="text-primary">100+</h3>
                          </li>
                          <li class="list-group-item border-0 value-wrapper">
                             <div class="pricing-tick">
                                <img src="/assets/frontend/Tick.svg" alt="Tick">
                             </div>
                             <p class="heading">Release of Liens</p>
                          </li>
                          <li class="list-group-item border-0 value-wrapper">
                             <div class="pricing-tick">
                                <img src="/assets/frontend/Tick.svg" alt="Tick">
                             </div>
                             <p class="heading">Free Reminders</p>
                          </li>
                          <li class="list-group-item border-0 value-wrapper">
                             <div class="pricing-tick">
                                <img src="/assets/frontend/Tick.svg" alt="Tick">
                             </div>
                             <p class="heading">Free Online Courses</p>
                          </li>
                          <li class="list-group-item border-0 value-wrapper">
                             <div class="pricing-tick">
                                <img src="/assets/frontend/Tick.svg" alt="Tick">
                             </div>
                             <p class="heading">Free Webinars</p>
                          </li>
                          <li class="list-group-item border-0 value-wrapper">
                             <div class="pricing-tick">
                                <img src="/assets/frontend/Tick.svg" alt="Tick">
                             </div>
                             <p class="heading">Excel Uploads</p>
                          </li>
                          <li class="list-group-item border-0 value-wrapper">
                             <div class="pricing-tick">
                                <img src="/assets/frontend/Tick.svg" alt="Tick">
                             </div>
                             <p class="heading">API Integration</p>
                          </li>
                          <li class="btn-wrapper list-group-item text-center border-0">
                             <a class="" [routerLink]="'/enterprise-solutions'">
                             <button class="btn btn-rounded btn-outline-primary btn-hover-secondary">Learn More</button>
                             </a>
                          </li>
                       </ul>
                    </div>
                </div>
             </div>
          </div>
       </div>

       <div class="pricing-block">
          <div class="container">
             <div class="row justify-content-md-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                   <div class="row">
                      <div class="col-6">
                         <div class="card-body">
                            <img src="/assets/frontend/100-percent-satisfaction-guaranteed.svg"
                              alt="100 percent satisfaction guaranteed">
                         </div>
                      </div>
                      <div class="col-6">
                         <div class="card-body">
                            <img src="/assets/frontend/2m-notices-sent.svg" alt="2m notices sent">
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-4"></div>
             </div>
          </div>
       </div>
       <div class="pricing-block">
          <div class="container">
             <div class="row justify-content-md-center">
                <div class="col-md-10">
                   <div class="pricing-contact">
                      <div class="card">
                         <div class="card-body text-white text-center">
                            <h4 class="plan">Not sure which plan will suit you best?</h4>
                            <p class="plan">Contact our award-winning customer support</p>
                            <div class="btn-block">
                               <div class="row justify-content-md-center">
                                  <div class="col-md-3">
                                     <a class="pricing-btn" href="tel:1-800-403-7660">
                                     <button class="btn btn-lg">1-800-403-7660</button>

                                     </a>
                                  </div>

                                  <div class="col-md-4">
                                     <a class="pricing-btn" href="mailto:info@sunraynotice.com" target="_blank">
                                     <button class="btn btn-lg">info@sunraynotice.com</button>
                                     </a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
