<div class='app-layout'>
  <div class='app-alert'>
    <sunray-ui-layout-alert>
    </sunray-ui-layout-alert>
  </div>

  <div class='app-header'>
    <sunray-ui-layout-header>
    </sunray-ui-layout-header>
  </div>

  <div class='app-subheader'>
    <sunray-ui-layout-subheader>
    </sunray-ui-layout-subheader>
  </div>

  <div class='app-content'>
    <sunray-ui-layout-content
      [dataService]="dataService">
    </sunray-ui-layout-content>
  </div>

  <div class='app-footer'>
    <sunray-ui-layout-footer>
    </sunray-ui-layout-footer>
  </div>
</div>
